<header>
    <nav>
        <a href="https://sivutnopeasti.fi" class="logo">SIVUTNOPEASTI.FI</a>
        <button class="menu-toggle" id="menuToggle" aria-label="Avaa valikko">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-menu" id="navMenu">
            <li><a href="https://sivutnopeasti.fi#prosessi">Miten tilaan sivut?</a></li>
            <li><a href="https://sivutnopeasti.fi#hinnoittelu">Hinnoittelu</a></li>
            <li><a href="https://sivutnopeasti.fi#arvostelut">Arvostelut</a></li>
            <li><a href="https://sivutnopeasti.fi#tiimi">Yhteystiedot</a></li>
            <li><a href="https://sivutnopeasti.fi#yhteys" class="btn">Tilaa sivut ilmaiseksi</a></li>
        </ul>
    </nav>
    <div class="menu-overlay" id="menuOverlay"></div>
</header>
